<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <div class="a-container">
      <%= link_to 'My Spots', spots_path(view: 'my_spots') %>
      <%= link_to 'All Spots', spots_path %>
</div>
