.show-wrapper {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.information-holder {
  display: flex;
  align-items: flex-end;
  height: calc(100vh - 80px);
  position: relative;
  padding-bottom: 15px;
}

.bird_stats {
  display: flex;
  flex-direction: column;
}

.info-row {
  display: flex;
  flex-direction: row;
  .mini-card{
    margin-right: 40px;
  }
}

.mini-card {
  display: flex;
  flex-direction: column;
}

.show{
  display: block;
}

.expand-info-button {
  position: absolute;
  bottom: 15px;
  right:12%;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 24px;
  padding: 1px;
  color: $yellow;
  background-color: rgba(167, 167, 167, 0.151);
  border: solid 1px $yellow;
}

.bird-card{
  background-color: rgba(61, 61, 61, 0.568);
  border-top-right-radius: 64px;
  border-top-left-radius: 64px;
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: -40px;
  padding-top: 40px;
}

#aditional-info{
  p.extra-info {
    color: white;
    font-weight: 900;
    margin-bottom: 14px;
  }
}
