

.bird-anlayzer{
  position: relative;


  .preview-blob-analyize{
    position: relative;
    background-size: cover;
    background-position: center;
    display: inline-block;
      border: 2px solid white;
      border-radius: 6px;
      width: 100%;
      height: 54vh;
  }

  .gif{
    position: absolute;
    width: 100%;

    z-index: 4;
    animation-duration: 3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }



}

.continue-button {
  position: absolute;
  bottom: 111px;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 82%;
}
