// Specific CSS for your home-page
.home-top {
  img {
    width: 82px;
    height: 83px;
    border-radius: 17px;
    object-fit: cover;
  }
}

.home-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.icon-wrapper{
  text-align: center;
  img {
  width: 80px;
  height: 80px;
  }
}


.custom-index{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.linktree{
  text-decoration: none;
  color: #fcca49;
}
