.leaderboard-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.83)), url("leaderboard.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
