    <script>
        function goBack() {
            window.history.back();
        }
    </script>

<div class="bottom-navbar">
    <a href="/" class="nav-button 3">home</a>
    <a href="/captures/new" class="nav-button 2">Camera</a>
    <%= link_to "return", :back %>
</div>
