<h1 class="display-1 mb-2 animated fadeIn">BADGES</h1>

<div class="badge-grid">

    <% @user.create_badges.each do |badge| %>
      <div class="mb-4 badge <%= 'unlocked' if badge[:unlocked] %>">
        <%= image_tag badge[:badge_img] %>
        <h2><%= badge[:name] %></h2>
        <% unless badge[:unlocked] %>
        <% end %>
      </div>
    <% end %>
</div>
