<div class="error-container"> 
  <h1> WHOOPS! Something went wrong...</h1>
  <div class="error-central-container">
    <h4> Nice picture!</h4> 
    <h4>However, identification did not work :'(</h4>
      <div class="shortcuts-container">
        <div class="icon-wrapper">
          <a href="/"><img src="/assets/home.png"></a>
          <h5 class="mt-3">Home</h5>
          </div>
          <div class="icon-wrapper">
          <a href="/captures/new"><img src="/assets/camera-c4b52794dab431b00b2fa6cb4b4e1c01dbc17e818e549c07942a59eee58a8375.png"></a>
          <h5 class="mt-3">Retry</h5>
          </div>
      </div>
  </div>  
</div>
