<div class="error-container"> 
  <h1> WHOOPS! Something went wrong...</h1>
  <div class="error-central-container">
    <h4> Nice picture! However, it was not possible to 
      provide an indentification</h4>
      <div class="shortcuts-container">
        <div class="back">Hello</div>
        <div class="another-photo">Dude</div>
      </div>
  </div>  
</div>
