<h1>social hub</h1>

<h2>Global leaderboard</h2>

<ul>
  <% @top_users.each do |user| %>
    <%= link_to badges_path(user.id) do %>
      <li><%= user.username %> - <%= user.user_xp %> XP</li>
    <% end %>
  <% end %>
</ul>
