<h1 class="display-1 mb-5 animated fadeIn">Global Leaderboard</h1>


<div class="leaderboard-container">
  <ol>
    <% @global_top.each_with_index do |user, index| %>
    <% emoji = ["ðŸ¥‡", "ðŸ¥ˆ", "ðŸ¥‰", "ðŸ£", "ðŸ¥š"][index] %>
    <li><span class="emoji"><%= emoji %></span><%= link_to "#{user.username} -  #{user.user_xp} xp", user_badges_path(user) %></li>
    <% end %>
  </ol>
</div>
