.bird_card{
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 329px;
  border-radius: 27px;
  padding: 15px;
  position: relative;

  h2 {
    position: absolute;
    top: 60px;
  }
}

.bird_card_alt{
  background-size: cover;
    background-position: center;
    width: 100%;
    height: 329px;
    border-radius: 27px;
    padding: 15px;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("default.jpg");

    h2 {
      position: absolute;
      top: 60px;
    }
}

.card-details-1 {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 70px;

  h6 {
    font-weight: 400;
    margin-left: 10px;
    position: relative;
    top: 3px;
      color: #fcca49;
  }
}

.card-details-2 {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 20px;

  h6 {
    font-weight: 400;
    margin-left: 10px;
    position: relative;
    top: 3px;
    color:#fcca49;
  }
}

.bird_card:last-child{
  margin-bottom: 100px !important;
}
