.mapboxgl-popup {
  max-width: 200px;
  background: rgba(0, 0, 0, 0);
  display: none;
}

.mapboxgl-popup-content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6) !important;
  position: relative !important;
  bottom: 0 !important;
  border-radius: 10% !important;
}

.mapboxgl-popup-close-button {
  color: #FCCA49;
}

.pixel-yellow {
  color: #FCCA49;
  font-family: 'Pixelify Sans', sans-serif; // Sets the color of H1, H2, and H3 headings to a gold-like color
}

.normal-yellow {
  color: #FCCA49;
}

.normal-white {
  color: #ffffff;
}

.a-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a-container {

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Text color */
    text-align: center;
    padding: 10px 20px; /* Padding for button size */
    margin-top: 20px; /* Space between buttons */
    text-decoration: none; /* Removes underline from links */
    border: 1px solid #FCCA49;; /* Optional border */
    border-radius: 5px;
  }
}

.marker-black-and-white {
  filter: grayscale(100%);
}

.mapboxgl-ctrl-logo, .mapboxgl-ctrl-attrib {
  display: none !important;
}

#bottom-panel {
  button {
    all: unset;
    background-color: #fcc94900;
    color: #FCCA49;
    height: 40%;
  }
}

.custom-pop {
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 24px;
  // --bs-gutter-x: 0rem;
}

.mapboxgl-canvas {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.a-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.toggle-button {
  color: white;
  text-align: center;
  padding: 10px 20px;
  margin-top: 20px;
  text-decoration: none;
  border: 1px solid #FCCA49;
  border-radius: 5px;
  background-color: #FCCA49;
}

.hidden {
  display: none;
}

#all_spots_link {
  display: none;
}

.spot-inactive {
  display: none !important;
}
