.navbar-lewagon {
  justify-content: space-between;
  background: #060606;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px !important;
}

.navbar-lewagon {
  color: #FFFFFF; // Sets the default text color for the whole navbar to white

  .nav-link, .dropdown-item {
    color: #FFFFFF; // Ensures that the text color for nav links and dropdown items is white
  }
}
