// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import "animate";

// Your CSS partials
@import "components/index";
@import "pages/index";

html{
  overflow-x: hidden;

}

body {
  background-color: #060606; // Sets the background color of the body to black
  color: white;

  h1 {
    color: #FCCA49;
    font-family: 'Pixelify Sans', sans-serif; // Sets the color of H1, H2, and H3 headings to a gold-like color
  }

  ul, li, p {
    color: #FFFFFF; // Sets the color of unordered lists, list items, and paragraphs to white
    font-family: 'M PLUS 1', sans-serif;
  }
}

.pic {
  img {
    height: 70px;
    width: 70px;
  }
}

.header-font{
  color: #FCCA49;
  font-family: 'Pixelify Sans', sans-serif;
}

.custom-container{
  width: 100vw;
}

.full-height{
  height: calc(100vh - 80px);
}

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
  --bs-gutter-x: [your-desired-value];
  --bs-gutter-y: [your-desired-value];
}
