// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: #000000; // Sets the background color of the body to black

  h1, h2, h3 {
    color: #FCCA49; // Sets the color of H1, H2, and H3 headings to a gold-like color
  }

  ul, li, p {
    color: #FFFFFF; // Sets the color of unordered lists, list items, and paragraphs to white
  }

  .pg_search_scope {
    width: 200px;
    padding: 5px;
    border: 1px solid #cccccc;
    font-weight: bold;
  }

  .search-button {
    background-color: #FCCA49;
    color: #110000;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
}
