// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import "animate";

// Your CSS partials
@import "components/index";
@import "pages/index";

html{
  overflow-x: hidden;

}

body {
  background-color: #060606; // Sets the background color of the body to black
  color: white;


  h1 {
    color: #FCCA49;
    font-family: 'Pixelify Sans', sans-serif; // Sets the color of H1, H2, and H3 headings to a gold-like color
  }

  ul, li, p {
    color: #FFFFFF; // Sets the color of unordered lists, list items, and paragraphs to white
    font-family: 'M PLUS 1', sans-serif;
  }
}

.pic {
  img {
    height: 70px;
    width: 70px;
  }
}

.header-font {
  color: #FCCA49;
  font-family: 'Pixelify Sans', sans-serif;
}

.custom-container {
  width: 100vw;
}

.full-height {
  height: calc(100vh - 80px);
}

.d-none {
  display: none;
}

.return {
  position: relative;
  top: 0px;
  height: 28px !important; /* Set your desired height */
  background-image: url('https://i.ibb.co/Qf1cHDS/return.png') !important; /* Path to your background image */
  background-size: contain; /* Ensures the background covers the whole element *//* Text color */
  color: #fcc94900 !important;
  background-repeat: no-repeat;
  margin: 10px;
  z-index: 10;
}

.home-image {
  margin-top: 10px;
}

.icon-tabler{
  stroke: #fcca49;
}

.back-button{
  height: 60px;
  width: 60px;
  background-color: gray;
  border-radius: 50%;
  text-decoration: none;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
    top: 30px;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }
}
